<div class="container">
    <div class="row search-box">
      <div class="col">
        <input type="text" class="form-control mr-sm-2" placeholder="Search"  [(ngModel)]="searchword" (input)="searchThis()">
      </div>
    </div>
    <div class="row movie-box">
      <div class="col" *ngFor="let movie of displayedMovies">
        <div class="card">
          <img class="img-fluid" src="{{movie['Poster']}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{movie.Title}}</p>
          </div>
        </div>
      </div>
    </div>
</div>

<router-outlet></router-outlet>